<a href="/articles"> BACK</a>
<h3>
    {{ article.title }}
</h3>
<img src="{{ article.picture }}" alt="{{ article.title }}"/>
<p>
    {{  article.description }}
</p>
<p>
    <small>
        {{ article.createdAt }}
    </small>
</p>
